.gallery {
  display: flex;
  border-radius: 25px;
  background-color: rgba(246, 246, 246, 1);
  margin-top: 43px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: flex-start;
  padding: 0 50px;
  margin-top: 56px;
  margin-bottom: 43px;
}

.card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: 8px;
  width: 340px;
  height: 340px;
  background-size: cover;
  background-position: center;
}

.card h2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
