.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around; 
  }
  
  .card {
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 340px;
    height: 340px;
    background: rgba(255, 96, 96, 1);

  }
  
  .card h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
  }