.collapse-container {
  max-width: 1023px; 
  margin: 30px auto;
  box-sizing: border-box;
}

.collapse-header {
  width: 1023px;
  height: 34px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 5px;
}

.collapse-icon {
  width: 24px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.collapse-content {
  width: 1023px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 18px;
  font-weight: 400;
}
.collapse-content p {
  margin: 5px; 
  line-height: 25px;
}
span.title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

