.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.nav {
  display: flex;
  gap: 20px;
}
.nav a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  margin-left: 57px;
  color: black;
}
.nav a:hover {
  color: black;
  text-decoration: underline;
}


.nav a.active {
  text-decoration: underline; 
}